.App {
  text-align: center;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  position: relative;
  margin-top: 14px;
  transform: translate(-50%, 0);
}

.App-header {
  position: absolute;
  width: 100%;
  background-color: #F2C94C;
  height: 58px;
  color: black;
  display: flex;
  justify-content: space-between;
}

.under-top-bar {
  background-color: #2F80ED;
  position:absolute;
  height: calc(100vh - 58px);
  width:100%;
  top:58px;
  color:white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.full-page-hover {
  height: 100wh;
  width: 100wv;
}

.slider {
  position: relative;
  display: block;
  height: calc(100% - 58px);
  width: 100%;
}

.slick-prev, .slick-next {
  width: 100px;
}

.slick-prev {
  left: 0px;
}

.slick-next {
  right: 0px;
}

.jarpic {
  width: 120%;
}

.jarpic-inside {
  width: 60%;
  padding-left: 12.5%;
}

.jar {
  width: 80%;
  height: 80%;
}

.slick-list {
  margin-top: calc(50vh - 329px);
}

.menu {
  float: right;
}

.ui.labeled.icon.button>.icon {
  background-color: transparent !important;
  font-size:16px;
}

.ui.avatar.image {
  height: 2.8em;
  width: 2.8em;
}

.logo {
  font-family: 'Chivo', sans-serif;
  font-size: 24px;
  margin-top: 18px;
  margin-left: 20px;
}

button {
  padding:13px;
  background: transparent;
  border: none;
  font-family: 'Chivo', sans-serif;
  font-size: 16px;
}

.topbar-button {
  padding: 20px;
  font-family: 'Chivo', sans-serif;
  font-size: 16px;
}

.visible-field {
  width: 300px;
  height: 44px;
  padding: 20px;
  margin: 5px;
  background: transparent;
  border: solid white 2px;
  border-radius: 30px;
  font-family: 'Chivo', sans-serif;
  font-size: 16px;
}

::placeholder {
  color: white;
}

.visible-button {
  width: 300px;
  height: 44px;
  margin: 5px;
  background: #F2C94C;
  border-radius: 30px;
  font-family: 'Chivo', sans-serif;
  font-size: 16px;
}

.ui.labeled.icon.button {
  padding-left: 2.7em !important;
}

.prompt {
  text-align: left;
  margin: 5px;
  line-height: 40px;
  background: transparent;
  font-family: 'Chivo', sans-serif;
  font-size: 24px;
}

.link {
  margin: 5px;
  font-family: 'Chivo', sans-serif;
  font-size: 16px;
  text-align: left;
}

.link:hover, .topbar-button:hover {
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.slick-dots {
  bottom: 12px;
}

.habit, .your-habit, .habit-field, .info-title, .info, .violation {
  font-family: 'Chivo', sans-serif;
}

.habit {
  font-size: 24px;
}

.your-habit {
  font-size: 10px;
  margin-left: 5px;
}

.habit-field {
  font-size: 10px;
  min-width: 40px;
  /* min-width: 92px; */
  height: 28px;
  padding: 5px;
  /* margin: 5px; */
  background: transparent;
  border: 2px solid #6F8ACF;
  box-sizing: border-box;
  border-radius: 30px;
  display: inline-block;
}

.info-title, .info {
  font-size: 10px;
}

.info-title {
  font-weight: bold;
}

.info {
  font-weight: light;
}

.violation {
  width: 148px;
  height: 30px;
  left: 595px;
  top: 768px;
  background: #F27777;
  border-radius: 30px;
  color: white;
  text-align: center;
  padding: 5px;
}

.white-card {
  background: #FFFFFF;
  border-radius: 10px;
}

.jar-data {
  color: black;
}
